.navbar {
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  background: #333;
  color: whitesmoke;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.add-btn {
  padding: 18px;
  margin: 20px;
  background: #27ae60;
  border-radius: 10px;
  color: whitesmoke;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 15px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  margin: 1%;
  padding: 20px;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.updated-btn {
  padding: 8px;
  background: #3498db;
  border-radius: 10px;
  color: whitesmoke;
  font-weight: 400;
  cursor: pointer;
}

.deleted-btn {
  padding: 8px;
  margin-inline: 5px;
  background: #eb4d4b;
  border-radius: 10px;
  color: whitesmoke;
  font-weight: 400;
  cursor: pointer;
}

.completed-btn {
  padding: 8px;
  background: #206c9e;
  border-radius: 10px;
  color: whitesmoke;
  font-weight: 400;
  cursor: pointer;
}

.task-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 200px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.options {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .card {
    width: 20%;
  }
}

@media only screen and (max-width: 644px) {
  .card {
    width: 100%;
  }
}
